.footer1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: white;
  border-top: 10px solid rgb(207, 207, 200);
  color: white !important;
}

.left {
  display: flex;
  justify-content: center;
  padding-top: 2.5rem;
  line-height: 1.7rem;
}
.right {
  text-align: center;
  padding: 3rem 0 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.right p {
  padding: 1rem 0;
}
