.cont {
  /* background-image: radial-gradient(rgb(18, 27, 81) 30%, rgb(47, 127, 139) 90%); */
  background-color: white;
  height: 100%;
  padding-top: 4.3rem;
}
.cont h2 {
  margin-top: 1rem;
  text-align: center;
  padding: 0;
}
form {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 600px;
  padding: 2rem;
}

form input,
textarea {
  background-color: rgb(237, 237, 237);
  color: black;
  border: 1px solid rgb(126, 122, 119);
  outline: none;
}
.cont button {
  margin-top: 2rem;
  width: 5rem;
  height: 2rem;
  border-radius: 13px;
}
