.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  user-select: none;
  position: fixed;
  width: 100%;
  z-index: 10;
  transition: 1s;
}

.header h1:hover {
  color: rgb(115, 107, 107);
}
.header a:hover {
  color: rgb(115, 107, 107);
}
.bar {
  display: flex;
  margin-right: 1rem;
}
.bar li {
  margin-right: 1rem;
  list-style: none;
}
.icons {
  display: none;
}
.p {
  margin-left: 1rem;
}

@media screen and (max-width: 600px) {
  .bar {
    flex-direction: column;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0%;
    left: -100%;
    z-index: -1;
    transition: 0.5s;
    background-color: rgba(192, 192, 192, 0.95);
  }
  .bar li {
    line-height: 4rem;
    font-size: 1.8rem;
  }
  .icons {
    display: initial;
    color: rgb(0, 0, 0);
  }
  .icons:hover {
    color: rgb(115, 107, 107);
  }
  .bar.active {
    left: 0;
  }
  .d {
    display: none;
  }
}
