.firstContainer {
  background: radial-gradient(white 20%, rgb(207, 207, 200));
  text-align: center;
}
.project-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  background-color: black;
  padding: 0 0.5rem 1.5rem;
  perspective: 1000px; /* Give some depth for 3D effect */
}
.projTitle {
  text-align: center;
  padding: 3rem 0 2rem 0;
  color: black;
  background-color: black;
  margin-top: 1.5rem;
  border-top: 2px solid black;
}
.project-card {
  margin: 1rem;
  padding: 1.5rem 1rem;
  background-color: rgb(25, 25, 25);
  border-radius: 10px;
  border: 1px solid rgb(41, 41, 41);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 25rem;
  box-shadow: 2px 2px 2px black;
  transform-style: preserve-3d;
  transition: transform 1s;
}
.project-card.flipped {
  transform: rotateY(360deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden; /* Hide the back side when flipped */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

.project-card img {
  width: 100%;
  height: 30%;
  object-fit: cover;
  border-radius: 10px;
  border: 1px solid black;
}
.navs {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}
.navs a {
  border: 0.5px solid rgb(0, 0, 0);
  text-align: center;
  padding: 2px 3px 1px;
  background-color: white;
  color: black;
  margin-bottom: 5px;
  border-radius: 10px;
  transition: 0.8s;
}
.navs a:hover {
  background-color: rgb(36, 37, 60);
  color: white;
}

@media screen and (max-width: 580px) {
  .project-container {
    display: flex;
    flex-direction: column;
    padding: 0 4rem;
  }
  .project-card {
    margin-top: 2rem;
  }
}

@media screen and (min-width: 1100px) {
  .project-container {
    grid-template-columns: repeat(6, 1fr);
  }
}
